
body {
  background-color: #00b3e6;
}

div {
  width: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background-color: white;
  padding: 30px;
}

#main-header {
  font-size: 22px;
  color: red;
}

.perspective-questions {
  font-style: italic;
}
