/* Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h3,
p,
button {
    margin: 1rem 0;
    margin-left: 1.5rem;
}

.html {
    background-color: #e4e6e8;
}

.title,
.description {
    color: #fff;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #a60303;
}

#dogContainer {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem;
    background-color: #e4e6e8;
}

.dogDiv {
    display: flex;
    margin: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}

.dogWrapper {
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background-color: #fff;
}

.pictures {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon {
    transition: all .3s ease;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #a60303;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button {
    background: #fa714b;
    background-image: -webkit-linear-gradient(top, #fa714b, #a10000);
    background-image: -moz-linear-gradient(top, #fa714b, #a10000);
    background-image: -ms-linear-gradient(top, #fa714b, #a10000);
    background-image: -o-linear-gradient(top, #fa714b, #a10000);
    background-image: linear-gradient(to bottom, #fa714b, #a10000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
    background: #a60303;
    background-image: -webkit-linear-gradient(top, #a60303, #800404);
    background-image: -moz-linear-gradient(top, #a60303, #800404);
    background-image: -ms-linear-gradient(top, #a60303, #800404);
    background-image: -o-linear-gradient(top, #a60303, #800404);
    background-image: linear-gradient(to bottom, #a60303, #800404);
    text-decoration: none;
}

.icon:hover {
    transform: scale(1.1)
}

.dogName:hover {
    text-decoration: underline;
}